@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Teko|Strait');

a {
  color: #0D2A38;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a:focus {
  color: #0D2A38;
  text-decoration: none;
}

body {
  background-color: #0D2A38; /* Dark Blue */
  background-repeat: repeat;
  font-family: 'Strait';
  font-size: 16px;
  position: relative;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #0D2A38;
  margin: 1em 0;
  padding: 0;
}

html {
  width: 100%;
}

p {
  margin: 0.5em 0 0.5em 0;
}

h2 > a {
  text-decoration: underline;
}
h3 > a {
  text-decoration: underline;
}

h1 {
  display: inline-block;
  font-size: 96px;
  color: #0D2A38; /* Dark Blue */
  font-family: 'Fredoka One';
}

h2 {
  color: #0D2A38; /* Dark Blue */
  font-family: 'Fredoka One';
}

h3 {
  color: #0D2A38; /* Dark Blue */
  font-style: bold;
}

li > a {
  text-decoration: underline;
}

h4 {
  color: #0D2A38; /* Dark Blue */
  font-style: italic;
}

li {
  margin-bottom: 0.5em;
}

element {
  white-space: pre-wrap;
}

@media (min-width: 768px) {  /*<-- what the fuck is this suzanne  */
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }
}

 .column {
  float: left;
  width: 50%;
  padding-right: 3em;
}

.container {
  text-align: center;
}
hr.footer-hr {
  border-top: 1px solid #ffffff;
}

a.footer-link {
  color: #ffffff;
}

a.footer-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.content-container {
  box-sizing: border-box;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 11%;
  padding-right: 11%;
}

.container-fluid {
  background-color: transparent;
}

.footer {
  color: #ffffff; /* White */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0D2A38; /* Dark Blue */
  margin-top: 0;
  padding-top: 9em;
}

.footer__menu {
  color: #ffffff; /* White */
  list-style: none;
  display: table;
  justify-content: center;
  height: 3em;
  padding: 0;
  margin-bottom: 0;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.footer__menu li {  /*<-- what the fuck is this suzanne  */
  padding: 0 1rem 1rem 1rem;
}

.footer__menu li > a {  /*<-- what the fuck is this suzanne  */
  color: #ffffff; /* White */
  text-decoration: none;
}

.gutter-right {
  display: block;
  position: relative;
  width: auto;
}

.header-curve-image {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
  margin-top: -0.95em;
  z-index: 1;
  -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.8); /* FF3.5+ */
  -ms-transform: scale(0.8); /* IE9 */
  -o-transform: scale(0.8); /* Opera 10.5+ */
  transform: scale(0.8);
}

.header-logo-image {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
  margin-top: -2em;
  -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.7); /* FF3.5+ */
  -ms-transform: scale(0.7); /* IE9 */
  -o-transform: scale(0.7); /* Opera 10.5+ */
  transform: scale(0.7);
  z-index: 2;
}

.img-bios {
  position: static;
  width: 10em;
  height: auto;
  max-width: inherit;
  margin-top: inherit;
  justify-items: inherit;
  justify-content: inherit;
  justify-self: inherit;
  margin-left: inherit;
  margin-right: inherit;
}

.img-content {
  position: static;
  width: 100%;
  height: auto;
}

.img-icon {
  width: 8%;
  height: 5%;
  max-width: inherit;
  margin-top: inherit;
  justify-items: inherit;
  justify-content: inherit;
  justify-self: inherit;
  margin-left: inherit;
  margin-right: inherit;
  padding: 1em;
}

.img-screenshot {
  position: static;
  width: 50%;
  height: auto;
  max-width: inherit;
  margin: inherit;
  padding: 0;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: inherit;
  margin-right: inherit;
}

.jumbotron {
  text-align: center;
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 4em;
  background-color: #ffffff; /* White */
  width: 100%;
  height: 10em;
  border-bottom: 16px solid #F95D62; /* Sunshower Salmon */
  z-index: -1;
  padding: 0;
}

.jumbotron-header {
  display: inline-grid;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin-top: 3.50em;
}

.mobile-br {  /*<-- what the fuck is this suzanne  */
	display: none;
}

.navbar-default .navbar-nav > .active > a { /*<-- what the fuck is this suzanne  */
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}

#navbar-gutter {
  display: flex;
  flex-flow: column; 
  width: 20em;
  z-index: 2;
  background-color: #0D2A38; /* Navy Blue */
  height: 100%;
  float: left;
}

.navbar-link {
  font-family:'Fredoka One';
  font-size: 25px;
  color: #ffffff;
  margin-right: -3em;
  margin-left: 0;
  margin-top: 0.5em;
  padding-top: 0;
  z-index: 3;
  position: relative;
  text-align: center;
}

.navbar-link > a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-link > a:hover {
  color: #0D2A38;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: none;
  transition: all 5ms;
  will-change: background;
  background: #ffffff;
}

.green-links:hover {
  background: #63FFAB !important;
}
.gold-links:hover {
  background: #FCDDAD !important;
}
.red-links:hover {
  background: #F95D62 !important;
}

.navbar-list {
  padding-left: 0;
  list-style: none;
  padding-top: 0;
  overflow: hidden;
  width: 18em;
  color: #ffffff;
  background-color: #0D2A38; /* Navy Blue */
  height: 9.9em;
  margin-bottom: -100%;
  outline: 1px #0D2A38 solid;
  position: relative;
  top: 7em;
}

.navbar {
  float: left;
  position: none;
}

.navbar-expand-sm {
  float: left;
}

.sticky-left {
  position: sticky;
  top: 0;
  float: left;
  right: auto;
  z-index: 69;
}

.navbar-gutter {
  display: block;
  max-width: 100%;
  top: 1em;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.page-landing {
  background-image: url("assets/background/parasol_background_red.png");
}
.page-main {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 1080px;
  padding: 0;
  padding-bottom: 10em;
  /* border: 2px dashed #000000; */
}

.page-section-full {
  width: 100%;
  background:
  linear-gradient(#0D2A38,#0D2A38) 0 calc(20em + 100%)/100% 100% no-repeat;
  display: inline-grid;
  box-sizing: border-box;
  margin: auto;
  max-width: 100%;
  padding: 0;
  height: auto;
  position: relative;
  top: -8em;
  margin-top: -15em;
}

.page-section-content {
  justify-self: center;
  justify-content: center;
  width: 100%;
  /* border: 4px dashed #6200ff; */
  display: grid;
  box-sizing: border-box;
  margin: 0em 0em -7em 0em;
  max-width: 2000px;
  padding: 0;
  min-width: 100%;
}

.page-section-content-kits {
  justify-self: center;
  justify-content: center;
  width: 100%;
  /* border: 4px dashed #6200ff; */
  display: grid;
  box-sizing: border-box;
  margin: 0em 0em -7em 0em;
  max-width: 1600px;
  padding: 0;
  min-width: 100%;
}

.page-section-header-behind-about {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background:
    linear-gradient(#ffffff,#ffffff) 0 calc(0% + 5.6em)/100% 20px no-repeat,
    linear-gradient(#63FFAB,#63FFAB) 0 calc(5.6em + 100%)/100% 100% no-repeat;
    margin-top: 0em;
  padding-bottom: 0;
  z-index: 100;
  position: relative;
}

.page-section-header-behind-games {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background:
    linear-gradient(#ffffff,#ffffff) 0 calc(0% + 5.5em)/100% 20px no-repeat,
    linear-gradient(#FCDDAD,#FCDDAD) 0 calc(5.5em + 100%)/100% 100% no-repeat;
  margin-top: 0;
  padding-bottom: 0;
  z-index: 100;
  position: relative;
}

.page-section-header-behind-presskit {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background:
    linear-gradient(#ffffff,#ffffff) 0 calc(0% + 5.55em)/100% 20px no-repeat,
    linear-gradient(#F95D62,#F95D62) 0 calc(5.55em + 100%)/100% 100% no-repeat;
  margin-top: 0em;
  padding-bottom: 0;
  z-index: 100;
  position: relative;
  }

.page-section-header-behind-kits {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background:
    linear-gradient(#ffffff,#ffffff) 0 calc(0% + 5.6em)/100% 20px no-repeat,
    linear-gradient(#0D2A38,#0D2A38) 0 calc(6em + 100%)/100% 100% no-repeat;
  margin-top: 0;
  padding-bottom: 0;
  z-index: 2;
}

.row {
  display: flex;
  margin: inherit;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.section-container-body-about {
  display: flex;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  background-color: #0D2A38;
}

.section-container-body-games {
  display: flex;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  background-color: #0D2A38;
}

.section-container-body-presskit {
  display: flex;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  background-color: #0D2A38;
}

.section-container-body-kits {
  display: flex;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  background-image: url("assets/background/parasol_background_blue.png");
}

.section-container-content-about {
  display: grid;
  position: relative;
  width: inherit;
  padding: 4em 8em 12em 6em;
  margin: 0;
  text-align: justify;
  border-left: #63FFAB 80px solid;
  background-image: url("assets/background/parasol_background_green.png");
  z-index:99;
  height: 100%;
}

.section-container-content-games {
  display: grid;
  position: relative;
  width: inherit;
  padding: 4em 8em 12em 6em;
  margin: 0;
  text-align: justify;
  border-left: #FCDDAD 80px solid;
  background-image: url("assets/background/parasol_background_yellow.png");
  z-index:99;
  height: 100%;
}

.section-container-content-presskit {
  display: grid;
  position: relative;
  width: inherit;
  padding: 4em 8em 12em 6em;
  margin: 0;
  text-align: justify;
  border-left: #F95D62 80px solid;
  background-image: url("assets/background/parasol_background_red.png");
  z-index:99;
  height: 100%;
}

.section-container-content-kits {
  display: grid;
  position: relative;
  width: inherit;
  padding: 4em 8em 12em 6em;
  margin: 0;
  text-align: justify;
  border-left: #0D2A38 80px solid;
  border-right:  #0D2A38 80px solid;
  z-index:2;
}

.section-container-content-about > p {
  font-size: 16px;
}
.section-container-content-games > p {
  font-size: 16px;
}
.section-container-content-presskit > p {
  font-size: 16px;
}

.section-header-textbox-about {
  width: 1366px;
  justify-self: center;
  display: flex;
  padding: 3em 5em 5em 22em;
  margin-top: -1em;
  background-image: url("assets/header_about.png");
  background-repeat: no-repeat;
}

.section-header-textbox-games {
  width: 1366px;
  justify-self: center;
  display: flex;
  padding: 3em 5em 5em 22em;
  margin-top: -1em;
  background-image: url("assets/header_games.png");
  background-repeat: no-repeat;
}

.section-header-textbox-presskit {
  width: 1366px;
  justify-self: center;
  display: flex;
  padding: 3em 5em 5em 22em;
  margin-top: -1em;
  background-image: url("assets/header_presskit.png");
  background-repeat: no-repeat;
}

.section-header-textbox-kits {
  width: 1366px;
  justify-self: center;
  text-align: center;
  display: flex;
  padding: 3em 5em 5em 22em;
  margin-top: -1em;
  background-image: url("assets/header_kits.png");
  background-repeat: no-repeat;
}

.section-header-textbox-kits > h1 {
  color: white;
}

.section-header-textbox-kits > h2 {
  color: white;
}

.section-header-bleed {
  display: block;
  position: relative;
  margin-top: 1em;
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
  z-index: 3;
}

.section-whole-container {
  display: inline-block;
  position: relative;
  height: 35%;
  width: 100%;
  /* border: 4px dashed #ff9100; */
}

.teaser-grid {
  align-items: center;
  justify-items: center;
  display: inline-grid;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 500px;
  width: 100%;
  max-width: 1080px;
  /* border: 2px dashed #000000; */
}

.teaser-image {
  margin-left: auto;
  margin-right: auto;
  width: 22em;
  border-radius: 22em;
  border: 18px solid #F95D62; /* Sunshower Salmon */
  background-color: #F95D62; /* Sunshower Salmon */;
}

.teaser-text {
  text-align: center;
  min-width: 308px;
  font-size: 4em;
  font-family: 'Fredoka One';
  /* border: 2px dashed #000000; */
}

.teaser-button > a:hover {
  color: #F95D62;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.teaser-button-center > a:hover {
  color: #F95D62;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.teaser-image:hover {
  color: #F95D62;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  opacity: 0.6;
  box-shadow: -9px -9px 0 #ffffff, 9px -9px 0 #ffffff, -9px 9px 0 #ffffff, 9px 9px 0 #ffffff;
}

.teaser-overlay:hover {
  color: #ffffff;
}
.teaser-button {
  height: 22em;
  width: 22em;
  background-color: hsl(0, 0%, 100%); /* White */
  border-radius: 22em;
}

.teaser-button-center {
  height: 22em;
  width: 22em;
  background-color: #ffffff; /* White */
  border-radius: 50%;
  margin-top: -14em;
}

.teaser-button-empty {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border-radius: 50%;
  border: 18px solid transparent;
  margin-top: 6em;
}

.visible-mobile {
  display: none !important;
}





















/* Mobile styles */
@media (max-width: 786px) {
  .visible-mobile {
    display: inline !important;
  }

  .hidden-mobile {
    display: none !important;
  }

  a {
    color: #0D2A38;
  }
  a:hover {
    color: #0D2A38;
    background-color: #ffffff;
  }
  a:focus {
    color: #0D2A38;
  }

  .teaser-button:hover {
    color: #0D2A38;
    background-color: #ffffff;
  }

  .teaser-button-center:hover {
    color: #0D2A38;
    background-color: #ffffff;
  }
  
  body {
    max-width: 786px;
    background-color: #0D2A38; /* Dark Blue */
    background-image: none;
    background-repeat: repeat;
    font-family: 'Strait';
    font-size: 16px;
    position: relative;
  }

  p {
  margin-top: 1em;
  margin-bottom: 1em;
  }
  
  .column {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding-right: 0;
    float: none;
  }
  
  .content-container {
    box-sizing: border-box;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: none;
  }
  
  .container-fluid {
    background-color: transparent;
  }
  
  .footer {
    color: #ffffff; /* White */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0D2A38; /* Dark Blue */
    text-align: center;
    display: grid;
    padding-top: 3em;
  }
  
  .footer__menu {
    color: #ffffff; /* White */
    list-style: none;
    display: grid;
    height: 303px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .footer__menu li {  /*<-- what the fuck is this suzanne  */
    padding: 0 1rem 1rem 1rem;
  }
  
  .footer__menu li > a {  /*<-- what the fuck is this suzanne  */
    color: #ffffff; /* White */
    text-decoration: none;
  }
  
  .footer-link > img {
    display: grid;
    width: 25%;
    height: 25%;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  .img-icon {
    width: 8%;
    height: 5%;
    max-width: inherit;
    margin-top: inherit;
    justify-items: inherit;
    justify-content: inherit;
    justify-self: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  
  .row {
    display: grid;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }

  .column {
    display: grid;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
  }


  .gutter-right {
    display: none;
  }
  
  h1 {
    padding-top: 0.5em;
    display: inline-block;
    font-size: 72px;
    color: #0D2A38; /* Dark Blue */
    font-family: 'Fredoka One';
    vertical-align: middle;
  }
  
  h2 {
    text-align: center;
    color: #0D2A38; /* Dark Blue */
    font-family: 'Fredoka One';
  }

  .header-curve-image {
    display: none;
  }
  
  .header-logo-image {
    -webkit-transform: scale(1); /* Saf3.1+, Chrome */
    -moz-transform: scale(1); /* FF3.5+ */
    -ms-transform: scale(1); /* IE9 */
    -o-transform: scale(1); /* Opera 10.5+ */
    transform: scale(1);
    z-index: 2;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
  }
  
  .img-content {
      position: static;
      width: 100%;
      height: auto;
    }

  .img-screenshot {
    position: static;
    width: 100%;
    height: 100%;
    max-width: inherit;
    margin: inherit;
    padding: 0;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    margin-left: inherit;
    margin-right: inherit;
  }
  
  .jumbotron {
    text-align: left;
    display: grid;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-bottom: 0;
    background-color: #ffffff; /* White */
    width: 100%;
    height: 8em;
    border-bottom: none;
    z-index: -1;
    padding: 0;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    border-bottom: 0px solid transparent;
  }
  
  .jumbotron-header {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 0;
  }
  
  .mobile-br {  /*<-- what the fuck is this suzanne  */
    display: none;
  }
  
  .navbar-default .navbar-nav > .active > a { /*<-- what the fuck is this suzanne  */
    display: none;
  }
  
  #navbar-gutter {
    display: flex;
    flex-flow: column; 
    width: 20em;
    z-index: 2;
    background-color: #0D2A38; /* Navy Blue */
    height: 100%;
    float: left;
  }
  
  .navbar-link {
    font-family:'Fredoka One';
    font-size: 25px;
    color: #ffffff;
    margin-left: 0;
    margin-top: 0.5em;
    padding-top: 0;
    z-index: 3;
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .navbar-link > a {
    color: #ffffff;
  }
  
  .navbar-list {
    list-style: none;
    padding-top: 0.5em;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    background-color: #0D2A38; /* Sunshower Salmon */
    height: 9.9em;
    outline: 1px #0D2A38 solid;
    margin-top: -2em;
    padding-left: 0;
    padding-right: 0;
    top: 0em;
  }
  
  .navbar {
    display: grid;
    align-content: center;
    width: 100%;
    top: 7em;
  }
  
  .navbar-expand-sm {
    float: left;
  }
  
  .sticky-left {
    position: sticky;
    top: 0;
    z-index: 69;
  }
  
  .navbar-gutter {
    display: block;
    max-width: 100%;
    top: 1em;
    width: 100%;
    height: 100%;
    align-items: stretch;
  }
  
  .page-main {
    display: none;
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 100%;
    padding: 0;
    border-bottom: 2px solid transparent;
  }
  
  .page-section-full {
    width: 100%;
    background:
    linear-gradient(#ffffff,#ffffff) 0 calc(100% + 6.25em)/100% 100% no-repeat; /* Navy Blue */
    display: inline-grid;
    box-sizing: border-box;
    margin: auto;
    max-width: 100%;
    padding: 0;
    align-items: center;
    justify-items: center;
    height: auto;
    top: -4.4em;
  }
  
  .page-section-content {
    align-items: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    margin: 0em 0em 0em 0em;
    max-width: 100%;
    padding: 0;
  }
  
  .page-section-header-behind-about {
    display: grid;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background:
      linear-gradient(#ffffff,#ffffff) 0 calc(0%)/100% 20px no-repeat,
      linear-gradient(#63FFAB,#63FFAB) 0 calc(0% + 100%)/100% 100% no-repeat;
    margin-top: -0.60em;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 75;
  }
  
  .page-section-header-behind-games {
    display: grid;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background:
      linear-gradient(#ffffff,#ffffff) 0 calc(0%)/100% 20px no-repeat,
      linear-gradient(#FCDDAD,#FCDDAD) 0 calc(0% + 100%)/100% 100% no-repeat;
    margin-top: -0.85em;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 75;
  }
  
  .page-section-header-behind-presskit {
    display: grid;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background:
      linear-gradient(#ffffff,#ffffff) 0 calc(0%)/100% 20px no-repeat,
      linear-gradient(#F95D62,#F95D62) 0 calc(0% + 100%)/100% 100% no-repeat;
    margin-top: -0.85em;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 75;
  }

  .page-section-header-behind-kits {
    display: grid;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background:
      linear-gradient(#ffffff,#ffffff) 0 calc(0%)/100% 20px no-repeat,
      linear-gradient(#0D2A38,#0D2A38) 0 calc(0% + 100%)/100% 100% no-repeat;
    margin-top: 5em;
    padding-top: 12px;
    padding-bottom: 0;
    z-index: 75;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .section-container-body-about {
    display: flex;
    width: 100%;
    max-width: 100%;
    background-image: url("assets/background/parasol_background_green.png");
  }
  
  .section-container-body-games {
    display: flex;
    width: 100%;
    max-width: 100%;
    background-image: url("assets/background/parasol_background_yellow.png");
  }
  
  .section-container-body-presskit {
    display: flex;
    width: 100%;
    max-width: 100%;
    background-image: url("assets/background/parasol_background_red.png");
  }

  .section-container-body-kits {
    display: flex;
    width: 100%;
    max-width: 100%;
    background-image: url("assets/background/parasol_background_blue.png");
  }

  .section-container-content-about {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 2em 4em 5em 3em;
    margin: 0;
    text-align: justify;
    z-index:2;
    border: none;
    height: 100%;
  }
  
  .section-container-content-games {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 2em 4em 5em 3em;
    margin: 0;
    text-align: justify;
    z-index:2;
    border: none;
    height: 100%;
  }
  
  .section-container-content-presskit {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 2em 4em 5em 3em;
    margin: 0;
    text-align: center;
    z-index:2;
    border: none;
    height: 100%;
  }

  .section-container-content-kits {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 6em 4em 5em 3em;
    margin: 0;
    text-align: justify;
    z-index:2;
    border: none;
  }
  
  .section-container-content-about > .p {
    font-size: 16px;
  }
  .section-container-content-games > .p {
    font-size: 16px;
  }
  .section-container-content-presskit > .p {
    font-size: 16px;
  }
  
  .section-header-textbox-about {
    width: 100%;
    display: block;
    padding: 0;
    margin-top: -1em;
    background-image: none;
    background-repeat: no-repeat;
  }
  
  .section-header-textbox-games {
    width: 100%;
    display: block;
    padding: 0;
    margin-top: -1em;
    background-image: none;
    background-repeat: no-repeat;
  }
  
  .section-header-textbox-presskit {
    width: 100%;
    display: block;
    padding: 0;
    margin-top: -1em;
    background-image: none;
    background-repeat: no-repeat;
  }

  .section-header-textbox-kits {
    width: 100%;
    display: block;
    padding: 0;
    margin-top: -1em;
    background-image: none;
    background-repeat: no-repeat;
  }
  
  .section-header-bleed {
    display: none;
  }
  
  .section-whole-container {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    /* border: 4px dashed #ff9100; */
  }
  
  .teaser-grid {
    align-items: center;
    justify-items: center;
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  
  .teaser-image {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 22em;
    border: 18px solid #F95D62; /* Sunshower Salmon */
    background-color: #F95D62; /* Sunshower Salmon */;
    border-radius: 0;
  }
  
  .teaser-button-overlay {
    margin-left: auto;
    margin-right: auto;
    width: 22em;
    border-radius: 0;
  }
  
  .teaser-text {
    padding-left: 1em;
    display: block;
    text-align: left;
    min-width: 308px;
    font-size: 2.5em;
    font-family: 'Fredoka One';
    color: #ffffff;
  }

  .teaser-text:hover {
    color: #F95D62; /* Sunshower Salmon */
  }
  .teaser-text:focus {
    color: #F95D62; /* Sunshower Salmon */
  }
  
  .teaser-button {
    vertical-align: middle;
    margin-bottom: 0.1em;
    height: 100%;
    width: 100%;
    border-radius: 0;
    background-color: #0D2A38; /* Sunshower Salmon */
  }
  
  .teaser-button-center {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    margin-top: 0;
    background-color: #0D2A38; /* Sunshower Salmon */
    border-radius: 0;
  }

  .teaser-button-empty {
  display: none;
  }

  .navbar-link > a {
    text-decoration: none;
  }

  .navbar-link:hover {
    text-decoration: none;
    color: #0D2A38;
  }
  .navbar-link:focus {
    text-decoration: none;
    color: #0D2A38;
  }
  .navbar-link > a:focus {
    color: #0D2A38;
    background-color: transparent;
  }
  .navbar-link > a:hover {
    color: #0D2A38;
    background-color: transparent;
  }




  /* Tablet styles */
@media (min-width: 1200px) {
	.mobile-br {
		display: inherit;
	}	
  
  .content-container {
    padding-left: 2em;
    padding-right: 2em;
    margin-left:0;
    margin-right:0;
  }

}

@media (min-width: 1550px) {
  .content-container {
    padding-left: 1550px * 0.11;
    padding-right: 1550px* 0.11;
  }
  .content-container .content-container--text{
    padding-left: 1550px * 0.22;
    padding-right: 1550px* 0.22;
  }
}
}