@import url('https://fonts.googleapis.com/css?family=Dosis|Fredoka+One');

a {
  color: #0D2A38;
}
a:hover,
a:focus {
  color: #0D2A38;
}

body {
  background-color: #0D2A38; /* Dark Blue */
  background-image: url("assets/background/parasol_background_red.png");
  background-repeat: repeat;
}

@media (min-width: 768px) {  /*<-- what the fuck is this suzanne  */
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }
}

.navbar-default .navbar-nav > li >a:hover,  /*<-- what the fuck is this suzanne  */
.navbar-default .navbar-nav > li >a:focus,  /*<-- what the fuck is this suzanne  */
.navbar-default .navbar-nav > .active > a:hover {  /*<-- what the fuck is this suzanne  */
 }

 .content-container {
  box-sizing: border-box;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 11%;
  padding-right: 11%;
}

.container-fluid {
  background-color: transparent;
}

.footer {
  color: #ffffff; /* White */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu {
  background-color: #0D2A38; /* Dark Blue */
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: none;
  height: 303px;
  padding: 0;
  margin-bottom: 0;
}

.footer__menu li {  /*<-- what the fuck is this suzanne  */
  padding: 0 1rem 1rem 1rem;
}

.footer__menu li > a {  /*<-- what the fuck is this suzanne  */
  text-decoration: none;
}

.header-curve-image {
  position: relative;
  width: 100%;
  margin-top: -22px;
  z-index: -1;
}

.jumbotron {
  position: relative;
  background-color: #ffffff; /* White */
  width: 100%;
  height: 170px;
  border-bottom: 18px solid #F95D62; /* Sunshower Salmon */
  z-index: -1;
}

.mobile-br {  /*<-- what the fuck is this suzanne  */
	display: none;
}

.navbar-default .navbar-nav > .active > a { /*<-- what the fuck is this suzanne  */
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-side {
  background-color: #0D2A38;
}

.section-title {
  font-size: 96px;
  color: #0D2A38; /* Dark Blue */
}

.section {
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;
}

.section-about-background-image {
  background-image: url("assets/background/parasol_background_yellow.png");
}
  
.section-games-background-image {
  background-image: url("assets/background/parasol_background_green.png");
}
  
.section-presskit-background-image {
  background-image: url("assets/background/parasol_background_red.png");
}

.teaser-grid {
  display: grid;
  justify-items: center;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 500px;
  width: 75em;
}

.teaser-image {
width: 280px;
width: 280px;
border-radius: 280px;
border: 18px solid #F95D62; /* Sunshower Salmon */
}

.teaser-button-overlay {
  height: 20em;
  width: 20em;
  background-color: #4AE996; /* Sunshower Mint */
  border-radius: 50%;

}

.teaser-text {
  text-align: center;
  min-width: 100%;
  min-height: 0;
  font-size: 4em;
  margin-top: 0px;
  font-family: 'Fredoka One';
}

.teaser-button {
  height: 20em;
  width: 20em;
  background-color: hsl(0, 0%, 100%); /* White */
  border-radius: 50%;

}

.teaser-button-center {
  height: 20em;
  width: 20em;
  background-color: #ffffff; /* White */
  border-radius: 50%;
  margin-top: -8em;
}

.teaser-button-empty {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border-radius: 50%;
  border: 18px solid transparent;
}

/* Mobile-only styles */
@media (max-width: 600px) {  
  .container {
    padding: 0;
  }

  .content-container {
    padding-left: 1em;
    padding-right: 1em;
  }
}


.row > [class*='col-'],
.row > [class*='col-'] >[class*='col-']{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.row > [class*='col-']:first-child{
  margin-left: 0;
  padding-left: 0;
}

.row > [class*='col-']:last-child{
  margin-right: 0;
  padding-right: 0;
}

/* Tablet and mobile styles */
@media (max-width: 800px) {
	.mobile-br {
		display: inherit;
	}	
  
  .content-container {
    padding-left: 2em;
    padding-right: 2em;
    margin-left:0;
    margin-right:0;
  }
  
  .row > [class*='col-'] {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;  
    margin-bottom:2em;  
  }

  .row > [class*='col-']:last-child{
    margin-bottom:0;  
  }

}

@media (min-width: 1550px) {
  .content-container {
    padding-left: 1550px * 0.11;
    padding-right: 1550px* 0.11;
  }
  .content-container .content-container--text{
    padding-left: 1550px * 0.22;
    padding-right: 1550px* 0.22;
  }
}
