@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Teko|Oxygen');

a {
  color: #0D2A38;
}
a:hover,
a:focus {
  color: #0D2A38;
}

body {
  background-color: #0D2A38; /* Dark Blue */
  background-image: url("assets/background/parasol_background_red.png");
  background-repeat: repeat;
  font-family: 'Oxygen';
  color: #0D2A38; /* Dark Blue */
}

@media (min-width: 768px) {  /*<-- what the fuck is this suzanne  */
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }
}

.navbar-default .navbar-nav > li >a:hover,  /*<-- what the fuck is this suzanne  */
.navbar-default .navbar-nav > li >a:focus,  /*<-- what the fuck is this suzanne  */
.navbar-default .navbar-nav > .active > a:hover {  /*<-- what the fuck is this suzanne  */
 }

.content-container {
  box-sizing: border-box;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 11%;
  padding-right: 11%;
}

.container-fluid {
  background-color: transparent;
}

.footer {
  color: #ffffff; /* White */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0D2A38; /* Dark Blue */
}

.footer__menu {
  color: #ffffff; /* White */
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: none;
  height: 303px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 10em;
}

.footer__menu li {  /*<-- what the fuck is this suzanne  */
  padding: 0 1rem 1rem 1rem;
}

.footer__menu li > a {  /*<-- what the fuck is this suzanne  */
  color: #ffffff; /* White */
  text-decoration: none;
}

.gutter-right {
  display: block;
  position: relative;
  width: 20%;
}

h1 {
  display: inline-block;
  font-size: 96px;
  color: #0D2A38; /* Dark Blue */
  font-family: 'Fredoka One';

}

h2 {
  color: #0D2A38; /* Dark Blue */
  font-family: 'Oxygen';
  font-size: 36px;
}

.header-curve-image {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
  margin-top: -4.2em;
  z-index: 1;
  -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.8); /* FF3.5+ */
  -ms-transform: scale(0.8); /* IE9 */
  -o-transform: scale(0.8); /* Opera 10.5+ */
  transform: scale(0.8);
}

.header-logo-image {
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
  margin-top: -2em;
  -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.7); /* FF3.5+ */
  -ms-transform: scale(0.7); /* IE9 */
  -o-transform: scale(0.7); /* Opera 10.5+ */
  transform: scale(0.7);
  z-index: 2;
}

.img {
  position: static;
  width: 100%;
  height: 100%;
  max-width: inherit;
  margin-top: inherit;
  justify-items: inherit;
  justify-content: inherit;
  justify-self: inherit;
  margin-left: inherit;;
  margin-right: inherit;
}

.jumbotron {
  text-align: center;
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 0;
  background-color: #ffffff; /* White */
  width: 100%;
  height: 8em;
  border-bottom: 16px solid #F95D62; /* Sunshower Salmon */
  z-index: -1;
  padding: 0;
}

.jumbotron-header {
  display: inline-grid;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin-top: 3.50em;
}

.mobile-br {  /*<-- what the fuck is this suzanne  */
	display: none;
}

.navbar-default .navbar-nav > .active > a { /*<-- what the fuck is this suzanne  */
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-gutter {
  display: block;
  background-color: #0D2A38; /* Navy Blue */
  width: 15em;
  /* border: 4px solid #F95D62; */
}

.navbar-link {
  font-family:'Oxygen';
  font-size: 30px;
  color: #ffffff;
  display: block;
  margin: none;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 0.3em;
  text-align: right;
}

.navbar-list {
  padding-top: 3.5em;
  list-style: none;
}

.navbar-side {
  display: block;
  max-width: 100%;
  position: static;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  top: 1em;
  width: 15em;
  height: 100%;
  align-items: stretch;
}

.p {
  font-size: 16px;
  color: #000000;
}

.page-main {
  display: block;
  box-sizing: border-box;
  width: auto;
  margin: auto;
  margin-bottom: 9em;
  max-width: 1080px;
  padding: 0;
  /* border: 2px dashed #000000; */
}

.page-section-full {
  width: 100%;
  background:
  linear-gradient(#0D2A38,#0D2A38) 0 calc(100% + 6.25em)/100% 100% no-repeat; /* Navy Blue */
  display: inline-grid;
  box-sizing: border-box;
  margin: auto;
  max-width: 100%;
  padding: 0;
  align-items: center;
  justify-items: center;
}

.page-section-content {
  align-items: center;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  width: 100%;
  /* border: 4px dashed #6200ff; */
  display: grid;
  box-sizing: border-box;
  margin: 0em 0em -7em 0em;
  max-width: 2000px;
  padding: 0;
}

.page-section-header-behind-about {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background:
    linear-gradient(#ffffff,#ffffff) 0 calc(0% + 6.25em)/100% 20px no-repeat,
    linear-gradient(#63FFAB,#63FFAB) 0 calc(6.25em + 100%)/100% 100% no-repeat;
  margin-top: 0em;
  padding-bottom: 0;
  z-index: 2;
}

.page-section-header-behind-games {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background:
    linear-gradient(#ffffff,#ffffff) 0 calc(0% + 6em)/100% 20px no-repeat,
    linear-gradient(#FCDDAD,#FCDDAD) 0 calc(6em + 100%)/100% 100% no-repeat;
  margin-top: 0;
  padding-bottom: 0;
  z-index: 2;
}

.page-section-header-behind-presskit {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background:
    linear-gradient(#ffffff,#ffffff) 0 calc(0% + 6.25em)/100% 20px no-repeat,
    linear-gradient(#F95D62,#F95D62) 0 calc(6.25em + 100%)/100% 100% no-repeat;
  margin-top: 0em;
  padding-bottom: 0;
  z-index: 2;
  }

.section-container-body-about {
  display: flex;
  width: 100%;
  max-width: 100%;
  background-image: url("assets/background/parasol_background_green.png");
}

.section-container-body-games {
  display: flex;
  width: 100%;
  max-width: 100%;
  background-image: url("assets/background/parasol_background_yellow.png");
}

.section-container-body-presskit {
  display: flex;
  width: 100%;
  max-width: 100%;
  background-image: url("assets/background/parasol_background_red.png");
}

.section-container-content-about {
  display: grid;
  position: relative;
  width: 80%;
  max-width: 100%;
  min-width: 50%;
  padding: 4em 8em 12em 6em;
  margin: 0;
  text-align: justify;
  border-left: #63FFAB 80px solid;
  z-index:2;
}

.section-container-content-games {
  display: grid;
  position: relative;
  width: 80%;
  max-width: 100%;
  min-width: 50%;
  padding: 4em 8em 12em 6em;
  margin: 0;
  text-align: justify;
  border-left: #FCDDAD 80px solid;
  z-index:2;
}

.section-container-content-presskit {
  display: grid;
  position: relative;
  width: 80%;
  max-width: 100%;
  min-width: 50%;
  padding: 4em 8em 12em 6em;
  margin: 0;
  text-align: justify;
  border-left: #F95D62 80px solid;
  z-index:2;
}

.section-container-content-about > .p {
  font-size: 16px;
  margin-top: 4em;
}
.section-container-content-games > .p {
  font-size: 16px;
  margin-top: 4em;
}
.section-container-content-presskit > .p {
  font-size: 16px;
  margin-top: 4em;
}

.section-header-textbox-about {
  width: 1366px;
  justify-self: center;
  display: flex;
  padding: 4em 5em 5em 22em;
  margin-top: -1em;
  background-image: url("assets/header_about.png");
  background-repeat: no-repeat;

}

.section-header-textbox-games {
  width: 1366px;
  justify-self: center;
  display: flex;
  padding: 4em 5em 5em 22em;
  margin-top: -1em;
  background-image: url("assets/header_games.png");
  background-repeat: no-repeat;

}

.section-header-textbox-presskit {
  width: 1366px;
  justify-self: center;
  display: flex;
  padding: 4em 5em 5em 22em;
  margin-top: -1em;
  background-image: url("assets/header_presskit.png");
  background-repeat: no-repeat;

}

.section-header-bleed {
  display: block;
  position: relative;
  margin-top: 1em;
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
  z-index: 3;
}

.section-whole-container {
  display: inline-block;
  position: relative;
  height: 35%;
  width: 100%;
  /* border: 4px dashed #ff9100; */
}

.teaser-grid {
  align-items: center;
  justify-items: center;
  display: inline-grid;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 500px;
  width: 100%;
  max-width: 1080px;
  /* border: 2px dashed #000000; */
}

.teaser-image {
  margin-left: auto;
  margin-right: auto;
  width: 22em; /* 280px */
  width: 22em;
  border-radius: 22em;
  border: 18px solid #F95D62; /* Sunshower Salmon */
  background-color: #F95D62; /* Sunshower Salmon */;
}

.teaser-button-overlay {
  margin-left: auto;
  margin-right: auto;
  width: 22em; /* 280px */
  width: 22em;
  background-color: #4AE996; /* Sunshower Mint */
  border-radius: 22em;
}

.teaser-text {
  text-align: center;
  min-width: 308px;
  font-size: 4em;
  font-family: 'Fredoka One';
  /* border: 2px dashed #000000; */
}

.teaser-button {
  height: 22em;
  width: 22em;
  background-color: hsl(0, 0%, 100%); /* White */
  border-radius: 22em;
}

.teaser-button-center {
  height: 22em;
  width: 22em;
  background-color: #ffffff; /* White */
  border-radius: 50%;
  margin-top: -14em;
}

.teaser-button-empty {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border-radius: 50%;
  border: 18px solid transparent;
}

/* Mobile-only styles */
@media (max-width: 600px) {  
  .container {
    padding: 0;
  }

  .content-container {
    padding-left: 1em;
    padding-right: 1em;
  }
}


.row > [class*='col-'],
.row > [class*='col-'] >[class*='col-']{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.row > [class*='col-']:first-child{
  margin-left: 0;
  padding-left: 0;
}

.row > [class*='col-']:last-child{
  margin-right: 0;
  padding-right: 0;
}

/* Tablet and mobile styles */
@media (max-width: 800px) {
	.mobile-br {
		display: inherit;
	}	
  
  .content-container {
    padding-left: 2em;
    padding-right: 2em;
    margin-left:0;
    margin-right:0;
  }
  
  .row > [class*='col-'] {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;  
    margin-bottom:2em;  
  }

  .row > [class*='col-']:last-child{
    margin-bottom:0;  
  }

}

@media (min-width: 1550px) {
  .content-container {
    padding-left: 1550px * 0.11;
    padding-right: 1550px* 0.11;
  }
  .content-container .content-container--text{
    padding-left: 1550px * 0.22;
    padding-right: 1550px* 0.22;
  }
}
